/* Home */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffff;
    padding-top:50px;
}

/* Bagian Navbar  */
header {
    background-color: white;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-text {
    font-size: 1.1rem; 
    font-weight: bold;
    color: #A82323; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #A82323;
    font-weight: bold;
    font-size: 0.9rem;
    padding-bottom: 8px;
    position: relative;
    transition: color 0.3s ease;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links li a:hover {
    color: black;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
       display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 20px 0;
    }

    .hamburger {
        display: block !important; 
    }

    .nav-links.active {
        display: flex; 
    }
}

.hamburger {
    display: none;
    color: #A82323;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Bagian Hero */
.hero {
    height: 55vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 70px;
}

.hero small {
    letter-spacing: 10px;
    color: #D3D3D3;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 60px;
}

.hero h1 {
    font-size: 3.5rem;
    color: #A82323;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    margin-bottom: 20px;
}

/* Bagian Card */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: -100px auto 50px; 
    padding: 0 5%;
    max-width: 1100px;
    margin-top: 0;
}

.card {
    background: #fff;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 15px;
    width: 350px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);}

.card-img {
    height: 350px;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.card-img img {
    width: 100%; height: 100%; object-fit: cover; 
}
.card-title {
    font-weight: 700; margin-bottom: 10px; font-size: 1rem; 
}
.card-desc { 
    font-size: 0.8rem; color: #555; text-align: justify; 
}

/* Quote */
.quote{
    text-align: center; margin: 80px 0 40px;
}
.quote h2{
    font-size: 1.8rem; font-weight: 700; color: #000; 
}
.quote p { font-size: 1.2rem; color: #555; }

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #A82323;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 600;
}

/* footer */
footer {
    background-color: #A82323;
    color: #fff;
    padding: 50px 8% 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 30px;
}

.footer-info .footer-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 0.85rem;
}

.footer-info a { color: #fff; text-decoration: none; }
.footer-nav h4, .footer-social h4 { margin-bottom: 20px; }
.footer-nav a, .footer-social a { 
    display: block; 
    color: rgba(255,255,255,0.8); 
    text-decoration: none; 
    margin-bottom: 10px; 
    font-size: 0.9rem;
}

.footer-container a:hover {
    color: black;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    font-size: 1.4rem;
}

.copy {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 0.75rem;
    opacity: 0.8;
}


/* RESPONSIVE */
@media(max-width:900px){
    .cards{
        flex-direction:column;
        align-items:center;
        margin-top:0;
    }

    .about{
        flex-direction:column;
    }

    .hero h1{
        font-size:40px;
    }
}

/* About */
.about-container {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    flex: 1;
}

.img-large {
    grid-row: span 2;
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 400px;
}

.img-small {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 200.5px;
}

/* IMAGE */
.img-large img,
.img-small img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:15px;
    display:block;
}

.content-section {
    flex: 1;
}

.content-section h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #000;
}

.content-section p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
    text-align: justify;
}

.btn-back {
    display: inline-block;
    background-color: #a52a2a; 
    color: white;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}  

.btn-back:hover {
    background-color: #800000;
    transform: translateY(-2px);
}

/* Responsif kontak untuk HP */
@media (max-width: 768px) {
    .about-container {
    flex-direction: column;
    margin: 40px auto;
    }
    .image-gallery {
    width: 100%;
    }
}

 .contact-container {
    max-width: 1300px;
    margin: 120px auto 80px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.image-placeholder{
    flex: 1.3;
    min-width: 500px;
}

.contact-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.content-section{
    flex: 0.8;
}

.content-section h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.2;
}

.content-section p{
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 35px;
}

.btn-contact {
    background-color: #a52a2a;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

.btn-contact:hover {
    background-color: #800000;
    transform: scale(1.05);
}

/* Container Utama About */
.about {
    display: flex;
    max-width: 1100px;      
    margin: 50px auto;      
    gap: 30px;              
    align-items: stretch;   
    padding: 0 20px;
}

#aboutImage {
    flex: 1;                
    border-radius: 20px;    
    overflow: hidden;     
    display: flex;
}

.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;      
}

.about-text {
    flex: 1.2;             
    background-color: #ededed; 
    border-radius: 20px;   
    padding: 40px;        
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.about-text h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 25px;
}

.about-text .btn {
    align-self: flex-start; 
    background-color: #a51505;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.about-text .btn:hover {
    background-color: #800f03;
}


/* katalog baru */
/* section katalog */
.katalog-section{
    width:100%;
    padding:40px 0 80px;
}

/* judul */
.judul-katalog{
    text-align:center;
    margin-bottom:50px;
}

.judul-katalog h2{
    font-size:42px;
    color:#c11212;
    font-weight:700;
    margin-bottom:10px;
}

.judul-katalog h1{
    font-size:55px;
    font-weight:800;
    color:#111;
}

/* container */
.container{
    width:100%;
    padding:0 80px;
    box-sizing:border-box;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:35px;
}

/* cardd katalog */

.cardd{
    width:260px;              
    background:#ffffff;
    border:1px solid #d2d2d2;
    border-radius:18px;
    padding:18px;
    text-align:center;
    transition:0.3s;
    margin:auto;
}

.cardd:hover{
    transform:translateY(-6px);
    box-shadow:0 8px 18px rgba(0,0,0,0.10);
}

/* judul card */
.cardd h3{
    font-size:15px;
    font-weight:700;
    margin-bottom:15px;
    color:#111;
}

/* img katalog */
.card-img{
    width:100%;
    height:260px;
    overflow:hidden;
    border-radius:10px;
    margin-bottom:18px;
}
.card-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* button */
.btn{
    background:#b51c1c;
    color:#fff;
    border:none;
    padding:9px 22px;
    border-radius:8px;
    font-size:13px;
    cursor:pointer;
    transition:0.3s;
    font-weight:600;
}
.btn:hover{
    background:#8f1111;
}

/* popup */
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup-content{
    width:260px;
    background:#fff;
    border-radius:18px;
    padding:18px;
    position:relative;
    text-align:center;
    animation:popupShow 0.3s ease;
}

/* animation katalog */
@keyframes popupShow{
    from{
        transform:scale(0.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* button close card */
.close-btn{
    position:absolute;
    top:14px;
    right:22px;
    font-size:28px;
    font-weight:400; 
    cursor:pointer;
    color:#030202;
    z-index:10;
    transition:0.3s;
}

/* img popup */
.popup-content img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:18px;
}

.popup-content h2{
    font-size:18px;
    margin-bottom:15px;
    color:#111;
    font-weight:700;
}

.popup-content p{
    font-size:13px;
    line-height:1.7;
    color:#555;
    text-align:justify;
}
/* hover button*/
.close-btn:hover{
    transform:scale(1.1);
}


/* ===== Responsive ===== */
@media (max-width:768px){
.navbar{flex-direction:column!important;padding:15px!important;gap:10px}
.nav-links{display:flex;flex-wrap:wrap;justify-content:center;gap:12px}
.container,.about-container,.contact-container,.detail{padding:20px!important;display:block!important}
.grid{grid-template-columns:1fr!important;gap:24px!important}
.card,.cardd{width:100%!important;max-width:340px;margin:auto}
.hero,.content-section,.detail-text,.detail-image,.image-gallery{width:100%!important}
.hero h1,h1{font-size:28px!important}
.hero p,p{font-size:15px}
img{max-width:100%;height:auto}
.contact-container,.about-container{flex-direction:column!important}
.image-gallery{display:grid!important;grid-template-columns:1fr 1fr!important}
.img-large{grid-row:auto!important;height:220px!important}
.img-small{height:105px!important}
iframe{width:100%!important}
footer{padding:20px}
}
